@model TipezeNyumbaWebApplication.TipezeNyumbaClientService.HouseDetails

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>GetHouseDetails</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.bedrooms)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.bedrooms)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dateHouseWillBeAvailable)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dateHouseWillBeAvailable)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dateUploaded)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dateUploaded)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.district)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.district)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fenceType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fenceType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.houseID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.houseID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.houseState)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.houseState)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.masterBedroomEnsuite)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.masterBedroomEnsuite)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.modeOfPayment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.modeOfPayment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.numberOfGarages)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.numberOfGarages)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.phoneNumber1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.phoneNumber1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.phoneNumber2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.phoneNumber2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.selfContained)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.selfContained)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.whatsAppContactNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.whatsAppContactNumber)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
