@model IEnumerable<TipezeNyumbaWebApplication.TipezeNyumbaClientService.UserDetails>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.firstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.phoneNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.userSubscriptionType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dateTimeCreated)
        </th>  
        <th>
            @Html.DisplayNameFor(model => model.accountState)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.userRoleForUser)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.userID)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.firstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.phoneNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.userSubscriptionType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dateTimeCreated)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.accountState)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.userRoleForUser)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.userID)
        </td>
        <td>

        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
